.env
.vscode
datasetsearch/migrations
pages/migrations
registration/migrations
venv
arlis/__pycache__
datasetsearch/__pycache__
pages/__pycache__
registration/__pycache__
*.zip
media/temp_imgs_s3
kaggle_dataset
uci_dataset
static/uci_datasett
# arlis/settings.py
media/test_csv
media/test_images
vision/migrations
vision/__pycache__
yolo_config
media/result_yolo
media/yolo_tp_fp_result/tp_fp.csv
vision/trying.py
media/csv_for_scores/.ipynb_checkpoints/Untitled-checkpoint.ipynb
media/plot_figures
media/result_aws
10664052f53000bf95ec86.jpg
10664054a8b90009c5a4db8.jpg
2732711ba470008722b054.jpg
traced_model.pt
nlp/migrations
nlp/__pycache__
yolov8l-seg.pt
runs\detect\predict\veh2.avi
trytry.js
yolov7